body {
    font-family: sans-serif;
    max-width: 1280px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 32, 32, 0.226);
    padding: 15px;
}

nav img {
    width: 64px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: white;
}